# Binary directories
Release+Asserts
Debug+Asserts
Release
Debug

# Various things pilfered from the svn configuration database.
Makefile.common
Makefile.config
Makefile.llvmbuild
replace.sh
config.log
*.tmp
*.class
do-conf
configure.out
config.status
.project

autoconf/aclocal.m4
autoconf/configure.bak

include/vmkit/config.h

lib/j3/ClassLib/Classpath.h
lib/j3/LLVMRuntime/LLVMRuntime.inc
lib/j3/LLVMRuntime/LLVMRuntime.gen.ll
lib/j3/ClassLib/OpenJDK/classes

lib/vmkit/Compiler/LLVMRuntime.inc
lib/vmkit/Compiler/LLVMRuntime.gen.ll

mmtk/inline/*.inc
mmtk/java/build.xml
mmtk/java/src/org/j3/config/Selected.java

tools/llcj/LinkPaths.h

tools/precompiler/*.inc
tools/precompiler/trainer/*.bc

tools/vmjc/vmkitoptimized.bc
tools/vmjc/vmkit.s
tools/vmjc/vmkit.bc
